<div id="tx-jobqueue-example">
    <f:form action="info" method="GET" class="form-horizontal">
        <div class="form-group">
            <label for="backend"><f:translate key="form-backend" /></label>
            <f:form.select id="backend" name="backend" value="default" class="form-control" options="{backends}" />
        </div>
        <div class="form-group">
            <label for="queue">Name of the queue</label>
            <f:form.textfield value="default" id="queue" name="queue" class="form-control" />
        </div>
        <f:form.submit value="Get the info!" />
    </f:form>
    <f:if condition="{selectedBackend}">
        <f:then>
            <p>
                The queue <strong>{selectedQueue}</strong> on connection <strong>{selectedBackend}</strong> has <strong>{count}</strong> jobs ready for processing.
            </p>
        </f:then>
    </f:if>
</div>